/* ...the emptiness... */
.centered-container {
    width: 400px;
    margin: 10vh auto 0;
    text-align: center;
}

body {
    background-image:
    radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),
    radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
    background-size: 110px 110px;
    background-color: #C8D3A7;
    background-position: 0 0, 55px 55px;
}

form{
    display: flex;
    flex-direction: column;
}

.joke-select {
    font-size: 1.6rem;
    background-color: rgb(137, 99, 186, 0);
    border: none;
    color: #3D344C
}
label {
    font-size: 2rem;
    background-color: rgb(137, 99, 186, 0.5);
    color: #3D344C;
    text-align: center;

}

button {
    width: 150px;
    font-size: 2rem;
    margin: 10px auto;
    border-radius: 15px;
    background-color: #54428E;
    color: #DAD2D8;
}

h2 {
    background-color: rgb(84, 66, 142, 0.8);
    font-size: 2rem;
    text-align: center;
    padding: 0 20px;
    color: #DAD2D8;
    
}